# Visual Studio files
.vs/
*.suo
*.user
*.vspx
*.tlog
*.log
*.tmp
ipch/
Debug/
Release/
bin/
out/ # For CMake-based projects
*.obj
*.ilk
*.pdb
*.lib
*.exp
*.dll
*.exe
*.vcproj.filters
*.vcxproj.user

# Other common ignored files
*.~*